# {{ ansible_managed }}
{% for server in common_ntp_servers %}
server {{ server }} iburst
{% endfor %}

driftfile /var/lib/chrony/chrony.drift
makestep {{ common_ntp_makestep }}
rtcsync
logdir /var/log/chrony
keyfile /etc/chrony/chrony.keys
leapsectz right/UTC
