###############################################################################
#{{ ' ' * 77 }}#
#{{ (common_motd_org | upper ~ ' - AUTHORIZED ACCESS ONLY') | center(77) }}#
#{{ ' ' * 77 }}#
#{{ 'All activity is logged and monitored.' | center(77) }}#
#{{ 'Unauthorized access is prohibited and will be prosecuted.' | center(77) }}#
#{{ ' ' * 77 }}#
###############################################################################
